h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-mensaje,
.borrar-mensaje:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.borrar-curso {
    color: red; /* Establece el color del texto en rojo */
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al puntero cuando pasas por encima del botón */
  
  }